:root {
  font-size: 16px;
  font-family: "Sono", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-tertiary: #6649b8;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  background: #2980b9;
  background: -moz-linear-gradient(to right, #2980b9, #2c3e50);
  background: -webkit-linear-gradient(to right, #2980b9, #2c3e50);
  background: linear-gradient(to right, #2980b9, #2c3e50);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2980b9", endColorstr="#2c3e50", GradientType=1);
  color: black;
  /*height: 100vh;*/
  background-size: 100%;
  background-repeat: no-repeat;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: #2980b9;
  background: -webkit-linear-gradient(
    to right,
    #2980b9,
    #2c3e50
  ); /*linear-gradient(to bottom, #40c057 5%, #9775fa 95%);*/
  background: linear-gradient(
    to right,
    #2980b9,
    #2c3e50
  ); /*linear-gradient(to bottom, #40c057 5%, #9775fa 95%);*/
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  font-family: "Russo One", cursive; /* font-family: "Rubik Iso", cursive; */
  font-weight: bold;
  color: yellow;
  text-align: left;
  margin-left: 1%;
}
h2 {
  margin: 0;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  margin-left: 1%;
  margin-bottom: 2%;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 2%;
  margin-left: 1%;
}

h5 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10%;
}

.lista {
  font-size: 23px;
  font-weight: normal;
  text-align: justify;
  margin-left: 10%;
  margin-bottom: 0.75%;
}

.lista-home {
  font-size: 23px;
  font-weight: normal;
  text-align: justify;
  margin-bottom: 0.75%;
  margin-left: 1%;
}

a {
  color: yellow;
  text-decoration: none;
  transition: var(--transition-speed);
}

a:hover {
  color: rgb(0, 255, 255);
}

.alert {
  color: var(--bg-primary);
  padding: 1rem;
  margin-left: 25%;
}

ul.add li {
  display: inline;
}

/*#banner {
  width: 15%;
  height: 15%;
  object-fit: cover;
  float: right;
  margin-right: 10%;
}*/

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9405cc,
    0 0 82px #9405cc, 0 0 92px #9405cc, 0 0 102px #9405cc, 0 0 151px #9405cc;
}

.neonText_friends {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #05cc79,
    0 0 82px #05cc79, 0 0 92px #05cc79, 0 0 102px #05cc79, 0 0 151px #05cc79;
}

.flashes {
  text-align: center;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
  padding: 0;
  margin: 0;
}

.success {
  color: rgb(20, 224, 109);
}

/* -----------------------------------List styling----------------------------------------------------------------- */
/*
.list_page::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='46.19' height='40' viewBox='0 0 34.64101615137755 30' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(237, 242, 247,1)'/%3E%3Cpath d='M-20-20h200v200h-200M34.21 25.25L25.98 20.5L17.75 25.25L17.75 34.75L25.98 39.5L34.21 34.75zM16.89 25.25L8.66 20.5L0.43 25.25L0.43 34.75L8.66 39.5L16.89 34.75zM8.23 10.25L0 5.5L-8.23 10.25L-8.23 19.75L0 24.5L8.23 19.75zM16.89-4.75L8.66-9.5L0.43-4.75L0.43 4.75L8.66 9.5L16.89 4.75zM34.21-4.75L25.98-9.5L17.75-4.75L17.75 4.75L25.98 9.5L34.21 4.75zM42.87 10.25L34.64 5.5L26.41 10.25L26.41 19.75L34.64 24.5L42.87 19.75zM25.55 10.25L17.32 5.5L9.09 10.25L9.09 19.75L17.32 24.5L25.55 19.75z' fill='rgba(45, 55, 72,1)'/%3E%3Cpath d='M-20-20h200v200h-200M24.21 25.25L15.98 20.5L7.75 25.25L7.75 34.75L15.98 39.5L24.21 34.75zM6.89 25.25L-1.34 20.5L-9.57 25.25L-9.57 34.75L-1.34 39.5L6.89 34.75zM-1.77 10.25L-10 5.5L-18.23 10.25L-18.23 19.75L-10 24.5L-1.77 19.75zM6.89-4.75L-1.34-9.5L-9.57-4.75L-9.57 4.75L-1.34 9.5L6.89 4.75zM24.21-4.75L15.98-9.5L7.75-4.75L7.75 4.75L15.98 9.5L24.21 4.75zM32.87 10.25L24.64 5.5L16.41 10.25L16.41 19.75L24.64 24.5L32.87 19.75zM41.53 25.25L33.3 20.5L25.07 25.25L25.07 34.75L33.3 39.5L41.53 34.75zM15.55 40.25L7.32 35.5L-0.91 40.25L-0.91 49.75L7.32 54.5L15.55 49.75zM-10.43 25.25L-18.66 20.5L-26.89 25.25L-26.89 34.75L-18.66 39.5L-10.43 34.75zM-10.43-4.75L-18.66-9.5L-26.89-4.75L-26.89 4.75L-18.66 9.5L-10.43 4.75zM15.55-19.75L7.32-24.5L-0.91-19.75L-0.91-10.25L7.32-5.5L15.55-10.25zM41.53-4.75L33.3-9.5L25.07-4.75L25.07 4.75L33.3 9.5L41.53 4.75zM32.87 40.25L24.64 35.5L16.41 40.25L16.41 49.75L24.64 54.5L32.87 49.75zM-1.77 40.25L-10 35.5L-18.23 40.25L-18.23 49.75L-10 54.5L-1.77 49.75zM-19.09 10.25L-27.32 5.5L-35.55 10.25L-35.55 19.75L-27.32 24.5L-19.09 19.75zM-1.77-19.75L-10-24.5L-18.23-19.75L-18.23-10.25L-10-5.5L-1.77-10.25zM32.87-19.75L24.64-24.5L16.41-19.75L16.41-10.25L24.64-5.5L32.87-10.25zM50.19 10.25L41.96 5.5L33.73 10.25L33.73 19.75L41.96 24.5L50.19 19.75zM15.55 10.25L7.32 5.5L-0.91 10.25L-0.91 19.75L7.32 24.5L15.55 19.75z' fill='rgba(160, 174, 192,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  }
*/
.list_page::before {
  background: #2a2a37;
}

.list_page_2023::before {
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #989659 68% 70%,
        #0000 72%
      )
      21px 21px / calc(2 * 21px) calc(2 * 21px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #989659 68% 70%,
        #0000 72%
      )
      21px 21px / calc(2 * 21px) calc(2 * 21px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #989659 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 21px) calc(2 * 21px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #989659 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 21px) calc(2 * 21px),
    repeating-conic-gradient(#6181b0 0 25%, #0000 0 50%) 0 0 / calc(2 * 21px)
      calc(2 * 21px),
    radial-gradient(#0000 66%, #989659 68% 70%, #0000 72%) 0 calc(21px / 2) /
      21px 21px #6181b0;
}

.list_list {
  padding: 1%;
  margin-left: 5rem;
}

.a_list {
  font-size: 18px;
  margin-right: 2rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 204, 255), 0 0 82px rgb(0, 204, 255),
    0 0 92px rgb(0, 204, 255), 0 0 102px rgb(0, 204, 255),
    0 0 151px rgb(0, 204, 255);
}

.a_list:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px gold,
    0 0 82px gold, 0 0 92px gold, 0 0 102px gold, 0 0 151px gold;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header header"
    "main main main";
  height: 100%;
  /*background-color: whitesmoke /*#1d2634*/
  align-content: stretch;
  align-items: flex-start;
}

.f-name {
  color: white;
}
.f-name:hover {
  color: #2980b9;
}

.grid-item {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.item1 {
  /*background-color: whitesmoke /*#1d2634*/
  grid-column: 1 / span 3;
  grid-row: 1;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 98%;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 204, 255), 0 0 82px rgb(0, 204, 255),
    0 0 92px rgb(0, 204, 255), 0 0 102px rgb(0, 204, 255),
    0 0 151px rgb(0, 204, 255);
  cursor: pointer;
  font-size: 16px;
  margin-top: 20% /*8%*/;
  border: 0.1rem solid var(--bg-primary);
  border-radius: 2rem;
  padding: 0.8em;
}

/*.dropbtn{
  /*background-color: whitesmoke /*var(--bg-primary)*/
/*background-color: gold;
  /*color: black /*white*/
/*padding: 14px;
  /*border: none;
  /*border-style: solid;
  /*border-width: 2px;
  /*border-image: linear-gradient(
  /*    to top left,
  /*    black /*yellow*/
/*black /*rgb(92, 0, 128)*/
/*  /*)
  /*  1 100%;
  /*border-image-slice: 1;
  /*opacity: 0.9; 
}*/

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  /*background-color: var(--text-tertiary) /*var(--bg-secondary)*/
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px gold,
    0 0 82px gold, 0 0 92px gold, 0 0 102px gold, 0 0 151px gold;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: var(--text-tertiary);
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #000000;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #000000;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /*margin-left: -15%;*/
  display: inline-block;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -145% /*-75%*/;
  background-color: var(--text-tertiary);
  min-width: 230px;
  border: 1px solid #000000;
  z-index: 1;
}

.drop-friend {
  margin-left: -115%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.item2 {
  /*background-color: whitesmoke /*#1d2634*/
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 125%;
  margin-top: 3%;
  margin-left: 3%;
  opacity: 0.9;
}

.item3 {
  /*background-color: whitesmoke /*#1d2634*/
  grid-column: 3;
  grid-row: 2;
  /*width: 41%;*/
  margin-left: 50%; /*54%;*/
  margin-top: 3%;
}

.item4 {
  /*background-color: whitesmoke /*#1d2634*/
  grid-column: 1 / span 3;
  grid-row: 3;
  padding: 0;
  text-align: center;
  /*color: #b3b3b3;*/
  color: purple;
  font-weight: bold;
}

.row {
  margin-left: 10%;
}

.column {
  float: left;
  width: 21%;
  padding: 40px 40px /*46.5px 50px*/;
  text-align: center;
  cursor: pointer;
  color: black /*#ececec*/;
  background-color: whitesmoke /*#2a2a37*/;
  transition: 200ms ease;
  border-width: 2px /*1px*/;
  margin: 1px /*0px*/;
  border-style: solid;
  border-image: linear-gradient(
      to top left,
      black /*yellow*/,
      black /*rgb(92, 0, 128)*/
    )
    1 100%;
  border-image-slice: 1;
}

.column_2023 {
  background-color: #d0e5f057; /*#2a2a37*/
  float: left;
  width: 21%;
  padding: 40px 40px /*46.5px 50px*/;
  text-align: center;
  cursor: pointer;
  color: black /*#ececec*/;
  transition: 200ms ease;
  border-width: 2px /*1px*/;
  margin: 1px /*0px*/;
  border-style: solid;
  border-image: linear-gradient(
      to top left,
      black /*yellow*/,
      black /*rgb(92, 0, 128)*/
    )
    1 100%;
  border-image-slice: 1;
}

.column-friend {
  float: left;
  width: 21%;
  padding: 46.5px 50px;
  text-align: center;
  cursor: pointer;
  color: #ececec;
  background-color: #2a2a37;
  transition: 200ms ease;
  border-width: 1px;
  margin: 0px;
  border-style: solid;
  /*border-image: 
  linear-gradient(to right, rgb(255, 0, 234), rgb(97, 67, 228)) 1 100%*/
  border-image-slice: 1;
}

.friend_list_page::before {
  background: radial-gradient(
      #4ba7b8 15%,
      transparent 16%,
      transparent 49%,
      #4ba7b8 50%,
      transparent 51%
    ),
    radial-gradient(
      circle at top left,
      #4ba7b8 10%,
      transparent 10%,
      transparent 39%,
      #4ba7b8 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at top right,
      #4ba7b8 10%,
      transparent 10%,
      transparent 39%,
      #4ba7b8 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at bottom left,
      #4ba7b8 10%,
      transparent 10%,
      transparent 39%,
      #4ba7b8 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at bottom right,
      #4ba7b8 10%,
      transparent 10%,
      transparent 39%,
      #4ba7b8 40%,
      transparent 41%
    );
  background-size: 2em 2em;
  background-color: #1f1b48;
  opacity: 1;
}

.title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 2.3%;
  margin-left: 1%;
}

.column:hover {
  background-color: #6649b8;
}

.column-friend:hover {
  background-color: #49abb8;
}

.column_2023:hover {
  background-color: #cef06f;
}

.containerTab {
  position: relative;
  width: 100%;
  padding: 0 16px;
  color: #ececec;
  display: none;
  overflow: hidden;
  background-color: #1d2634;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      black /*yellow*/,
      black /*rgb(106, 235, 252)*/
    )
    1 100%;
  border-image-slice: 1;
}

.containerTab_friends {
  position: relative;
  width: 100%;
  padding: 0 16px;
  color: #ececec;
  display: none;
  overflow: hidden;
  background-color: #1d2634;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      #ececec /*yellow*/,
      #ececec /*rgb(106, 235, 252)*/
    )
    1 100%;
  border-image-slice: 1;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.closebtn {
  float: right;
  color: white /*yellow*/;
  font-size: 35px;
  cursor: pointer;
  top: 0;
}

table {
  width: 100%;
  font-size: 20px;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  border-collapse: collapse;
  border-width: 1px;
}

.tabletr {
  color: black;
  text-align: left;
  background: -webkit-linear-gradient(
    to right,
    whitesmoke /*yellow*/,
    grey /*rgb(106, 235, 252)*/
  );
  background: linear-gradient(
    to right,
    whitesmoke /*yellow*/,
    grey /*rgb(106, 235, 252)*/
  );
}

thead tr {
  color: black;
  text-align: left;
  background: -webkit-linear-gradient(to right, yellow, rgb(106, 235, 252));
  background: linear-gradient(to right, yellow, rgb(106, 235, 252));
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #6649b8;
}

tbody tr:nth-child(even) {
  background-color: #242e3e;
}

tbody tr:last-child {
  border-bottom: 2px solid #6649b8;
}

tbody tr:hover {
  background-color: #6649b8;
}

.table-home {
  width: 92vw;
  font-size: 20px;
  position: absolute;
  z-index: 0;
  color: white;
}
.table-home tbody tr:nth-child(even) {
  background-color: transparent;
}

.table-home tbody tr:hover {
  background-color: #3b9a8a;
}

.table-home tbody tr {
  border-bottom: 1px solid #4999b8;
}

.table-button {
  width: 90%;
  height: 100%;
  text-align: center;
  background-color: rgb(119, 8, 198);
  border: solid 1px black;
  color: black;
  font-size: 10px;
  cursor: pointer;
  transition: 200ms ease;
  border-radius: 5px;
}

.table-button-list {
  width: 120%;
  height: 100%;
  text-align: center;
  background-color: rgb(119, 8, 198);
  border: solid 1px black;
  color: black;
  font-size: 10px;
  cursor: pointer;
  transition: 200ms ease;
  border-radius: 5px;
}

.table-button-list:hover {
  background-color: rgb(255, 0, 0);
}

.table-button:hover {
  background-color: rgb(255, 0, 0);
}

.table-edit {
  width: 80%;
  height: 100%;
  border: none;
  text-align: center;
  background: transparent;
  color: rgb(129, 25, 204);
  font-size: 14px;
  cursor: pointer;
  transition: 200ms ease;
}

.table-edit:hover {
  color: yellow;
}

.table-poster {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 100px;
  object-fit: cover;
}

.table-poster1 {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 70px;
  object-fit: cover;
}

.table-list {
  text-decoration: none;
  color: black;
  list-style-type: none;
  margin: 0;
  margin-top: 10%;
  padding: 0;
  text-decoration: overline;
  font-weight: bold;
}

.table-link {
  text-decoration: none;
  color: white;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header header"
    "main main main";
  height: 100%;
  background-color: transparent;
}

.grid-item2 {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.filtered {
  background: transparent;
  background-color: transparent;
}

.filterby {
  height: 100%;
  background: transparent;
}

.filterby:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.column-directors {
  text-align: center;
  font-size: medium;
  cursor: pointer;
  color: black;
  background-color: transparent;
  transition: 200ms ease;
  border-width: 1px;
  margin: 0px;
}
.column-directors:hover {
  color: rgb(176, 46, 46);
}

.column1 {
  float: left;
  width: 15%;
  padding: 46.5px 50px;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color: transparent;
  transition: 200ms ease;
  border-width: 1px;
  margin: 0px;
}

.column1:hover {
  color: white;
  background-color: rgb(136, 30, 30);
}
/* -----------------------------------Navbar styling----------------------------------------------------------------- */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: 200ms ease;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  margin: 0 1.5rem;
}

.fa-secondary {
  color: yellow;
}

.fa-primary {
  color: var(--text-tertiary);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* -----------------------------------Animation styling----------------------------------------------------------------- */
/*.rotate {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: moveRotate 13s linear infinite;
}
@keyframes moveRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-200%, 100%) rotate(360deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
  75% {
    transform: translate(50%, 75%) rotate(1080deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1440deg);
  }
}*/

canvas {
  background: -webkit-linear-gradient(
    45deg,
    #141418,
    #6649b8,
    #141418
  ); /* rgb(125, 232, 246) */
  background: linear-gradient(
    45deg,
    #141418,
    #6649b8,
    #141418
  ); /* rgb(125, 232, 246) */
  position: absolute;
  z-index: -1;
  animation: canvasAnimation 20s ease-in-out infinite;
  width: 99.99%;
  height: 99.99%;
}

.animation_title {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 60px;
  background: -webkit-linear-gradient(
    45deg,
    #ffe79b,
    #9336b4
  ); /*gold, lighblue*/
}

/* -----------------------------------Form styling----------------------------------------------------------------- */
form {
  max-width: 500px;
  margin-left: 25%;
}

.field {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--text-primary);
  margin: 4rem auto 1rem;
}

.field-add {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--text-primary);
  margin: 1rem auto 1rem;
}

.label {
  color: var(--text-primary);
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.input:valid {
  color: gold;
}

.input:invalid {
  color: orangered;
}

/* border animation */

.field::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background: yellow;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
}

.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
}

/* label animation */
.label {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 33px;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
}

.button {
  background: var(--text-primary);
  color: var(--bg-primary);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition-speed);
}

.button:hover {
  background: gold; /*rgb(255, 0, 204);*/
  color: var(--bg-secondary);
}

.button:active {
  background: var(--text-tertiary);
  color: var(--bg-tertiary);
}

.button-Login {
  margin-top: 2rem;
  background: var(--text-primary);
}

.button-Login:hover {
  background: gold; /*rgb(255, 0, 204);*/
  color: var(--bg-primary);
}

select {
  appearance: none;
  background: transparent;
  border: none;
  padding: 1rem 1rem;
  font-family: inherit;
  font-size: inherit;
  color: gold;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

select option {
  background: var(--bg-primary);
  font-weight: bold;
}

.month {
  position: relative;
  margin: 1rem 1rem;
  color: gold;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
}

.number {
  position: relative;
  margin: 1rem 1rem;
  color: gold;
  border-color: yellow;
  background: transparent;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.radio {
  position: relative;
  margin: 1rem 1rem;
}

/*-----------------------------------------------Profile styling------------------------------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header header"
    "main main main";
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    #41295a,
    #2f0743
  ); /*linear-gradient(94deg, #202c42 6%, #295fbd 90%);*/
  background: linear-gradient(
    to right,
    #41295a,
    #2f0743
  ); /*linear-gradient(94deg, #202c42 6%, #295fbd 90%);*/
}
.material-icons-outlined {
  margin-top: 0.5rem;
  font-size: 35px;
  color: grey;
}

.header {
  margin-left: 5rem;
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  background-image: linear-gradient(to right, #41295a, #2f0743);
}

.main-container {
  grid-area: main;
  margin-left: 5rem;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgb(255, 255, 255, 0.95);
}

.main-container::-webkit-scrollbar {
  width: 0.5rem;
}

.main-container::-webkit-scrollbar-track {
  background: indigo;
}

.main-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: space-around;
  border-radius: 5px;
}

.card:first-child {
  background: -webkit-linear-gradient(to right, #7950f2 5%, #748ffc 95%);
  background: linear-gradient(to right, #7950f2 5%, #748ffc 95%);
}

.card:nth-child(2) {
  background: -webkit-linear-gradient(to right, #4ecdc4, #556270);
  background: linear-gradient(to right, #4ecdc4, #556270);
}

.card:nth-child(3) {
  background: -webkit-linear-gradient(to right, #82c91e 5%, #3bc9db 95%);
  background: linear-gradient(to right, #82c91e 5%, #3bc9db 95%);
}

.card:nth-child(4) {
  background: -webkit-linear-gradient(to right, #be4bdb 5%, #f783ac 95%);
  background: linear-gradient(to right, #be4bdb 5%, #f783ac 95%);
}

.card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.charts-card {
  background-color: #263043;
  padding: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  color: var(--text-primary);
}

.chart-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------Friends styling--------------------------------------------------------- */
.friends {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header"
    "main";
  height: 100%;
  /*background: -webkit-linear-gradient(94deg, #202c42 6%, #295fbd 90%);
  background: linear-gradient(94deg, #202c42 6%, #295fbd 90%);*/
  /*background-color: #17141d;*/
  background-color: #323232;
  opacity: 1;
  background-image: radial-gradient(
    #7a4dc2 0.7000000000000001px,
    #323232 0.7000000000000001px
  );
  background-size: 14px 14px;
}

.friends_page::before {
  background-color: #323232;
  background-image: radial-gradient(
    #7a4dc2 0.7000000000000001px,
    #323232 0.7000000000000001px
  );
  background-size: 14px 14px;
}

.header-friends {
  margin-top: 1rem;
  margin-left: 5rem;
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  /*background-image: linear-gradient(94deg, #202c42 6%, #295fbd 90%);*/
  /*background: #17141d;*/
  background-color: #323232;
  opacity: 1;
  background-image: radial-gradient(
    #7a4dc2 0.7000000000000001px,
    #323232 0.7000000000000001px
  );
  background-size: 14px 14px;
}

.main-friends {
  margin-left: 6rem;
}

ol {
  font-size: 20px;
  margin-top: 0;
  margin-left: 0;
}

.f-form {
  display: flex;
  margin-left: 0rem;
}

.header .search-container {
  float: left;
}

.header input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.follow-form {
  display: inline-block;
  margin-left: 2rem;
}

.carta-list {
  display: flex;
  padding: 3rem;
  overflow-x: auto;
}

.carta-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.carta-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px hsla(0, 0%, 0%, 0.25);
}

.carta-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29 0%, #2b2255 100%);
}

.carta {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 190px;
  min-width: 190px;
  padding: 1.6rem 1rem 1.5rem;

  border-radius: 10px;
  background-color: #1f1b27;
  box-shadow: -1rem 0rem 2rem rgba(0, 0, 0, 0.5);
  border: #090909 1px solid;

  transition: 0.2s;
}

.carta:hover {
  transform: translateY(-1rem);
}

.carta:hover ~ .carta {
  transform: translateX(130px);
}

.carta:not(:first-child) {
  margin-left: -130px;
}

.img-carta {
  margin-top: -3%;
  margin-left: 10%;
  width: 80%;
  height: 210px;
  object-fit: cover;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  border: transparent 4px solid;
  outline: 3px solid black;
  outline-offset: 0px;
}

.img-carta-back {
  position: absolute;
  margin-left: -70%;
  margin-top: -3%;
  width: 71%;
  height: 225px;
  object-fit: cover;
  filter: blur(8px);
  z-index: -1;
}

.carta-link {
  text-decoration: none;
  color: #6082b6;
}

/*---------------------------------------------------Explore page-----------------------------------------*/
.explore_page {
  background-image: url(../bg-1-full.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  z-index: 1;
}

.explore_page::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* .explore_page {
  background: #000000;
}
.explore_page::before {
  background-color: #4b9483;
  opacity: 0.9;
  background-image: linear-gradient(
      30deg,
      #232657 12%,
      transparent 12.5%,
      transparent 87%,
      #232657 87.5%,
      #232657
    ),
    linear-gradient(
      150deg,
      #232657 12%,
      transparent 12.5%,
      transparent 87%,
      #232657 87.5%,
      #232657
    ),
    linear-gradient(
      30deg,
      #232657 12%,
      transparent 12.5%,
      transparent 87%,
      #232657 87.5%,
      #232657
    ),
    linear-gradient(
      150deg,
      #232657 12%,
      transparent 12.5%,
      transparent 87%,
      #232657 87.5%,
      #232657
    ),
    linear-gradient(
      60deg,
      #23265777 25%,
      transparent 25.5%,
      transparent 75%,
      #23265777 75%,
      #23265777
    ),
    linear-gradient(
      60deg,
      #23265777 25%,
      transparent 25.5%,
      transparent 75%,
      #23265777 75%,
      #23265777
    );
  background-size: 70px 123px;
  background-position: 0 0, 0 0, 35px 61px, 35px 61px, 0 0, 35px 61px;
  z-index: -1;
} */

/*----------------------------------------------------- Small screens--------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  .animation_title {
    left: 20vw;
  }
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  form {
    margin-left: 3%;
    margin-bottom: 5rem;
  }

  .table-home {
    width: 10vw;
    font-size: 10px;
    margin-bottom: 6rem;
  }

  .main-container {
    margin-left: 0;
  }

  .column {
    width: 10%;
    padding: 5vh 5vh 5vw 4vw;
  }

  .column-friend {
    width: 10%;
    padding: 5vh 5vh 5vw 4vw;
  }

  .drop-friend {
    margin-left: -260%;
  }

  .row {
    margin-left: 3%;
  }

  .title {
    font-size: 10px;
  }

  .item1 {
    width: 95%;
  }

  .item3 {
    margin-left: 30%;
    font-size: 14px;
  }

  h3 {
    font-size: 6vw;
    padding-bottom: 1%;
  }
  h1 {
    font-size: 8vw;
  }

  th,
  td {
    padding: 1.5vh 1vh;
  }

  .table-poster {
    width: 10vw;
    height: 8vh;
  }

  .header {
    margin-left: 0;
  }

  .grid-container1 {
    padding-bottom: 7rem;
  }
  table {
    font-size: 9px;
  }

  .list_list {
    margin-left: 1%;
    margin-bottom: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
  }

  .navbar:hover {
    width: 13rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}
