:root {
  font-size: 16px;
  font-family: "Sono", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-tertiary: #6649b8;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  font-size: 50px;
  font-family: "Rubik Iso", cursive;
  font-weight: bold;
  color: #6649b8;
  text-align: left;
  margin-left: 1%;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  margin-left: 1%;
  margin-bottom: 2%;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 2%;
  margin-left: 1%;
}

#banner {
  width: 15%;
  height: 15%;
  object-fit: cover;
  float: right;
  margin-right: 10%;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: yellow;
}

.fa-secondary {
  color: #b026ff;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.rotate {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: moveRotate 13s linear infinite;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

@keyframes moveRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-200%, 100%) rotate(360deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
  75% {
    transform: translate(75%, 50%) rotate(1080deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1440deg);
  }
}

form {
  max-width: 500px;
  margin-left: 25%;
}

.field {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--text-primary);
  margin: 4rem auto 1rem;
}

.label {
  color: var(--text-primary);
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.input:valid {
  color: yellowgreen;
}

.input:invalid {
  color: orangered;
}

/* border animation */

.field::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--text-tertiary);
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
}

.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
}

/* label animation */
.label {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 33px;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
}

.button {
  background: var(--text-primary);
  color: var(--bg-primary);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition-speed);
}

.button:hover {
  background: var(--text-secondary);
  color: var(--bg-secondary);
}

.button:active {
  background: var(--text-tertiary);
  color: var(--bg-tertiary);
}

.button-Login {
  margin-top: 2rem;
  background: var(--text-tertiary);
}

a {
  text-decoration: none;
}

.alert {
  color: var(--bg-primary);
  padding: 1rem;
  margin-left: 25%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
  }

  .navbar:hover {
    width: 15rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}
