:root {
  font-size: 16px;
  font-family: "Sono", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-tertiary: #6649b8;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #6649b8, indigo);
  color: black;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  font-family: "Russo One", cursive; /* font-family: "Rubik Iso", cursive; */
  font-weight: bold;
  color: yellow;
  text-align: left;
  margin-left: 1%;
}
h2 {
  margin: 0;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  margin-left: 1%;
  margin-bottom: 2%;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 2%;
  margin-left: 1%;
}

.lista {
  font-size: 23px;
  font-weight: normal;
  text-align: justify;
  margin-left: 10%;
  margin-bottom: 0.75%;
}

.lista-home {
  font-size: 23px;
  font-weight: normal;
  text-align: justify;
  margin-bottom: 0.75%;
  margin-left: 1%;
}

a {
  color: rgb(255, 0, 204);
  text-decoration: none;
  transition: var(--transition-speed);
}

a:hover {
  color: rgb(0, 255, 255);
}

.alert {
  color: var(--bg-primary);
  padding: 1rem;
  margin-left: 25%;
}

ul.add li {
  display: inline;
}

#banner {
  width: 15%;
  height: 15%;
  object-fit: cover;
  float: right;
  margin-right: 10%;
}

.flashes {
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: green;
}

.ol-home {
  color: #0b0808;
}

/* -----------------------------------Grid styling----------------------------------------------------------------- */
.column {
  float: left;
  width: 24%;
  padding: 45.5px 60px;
  text-align: center;
  cursor: pointer;
  color: #ececec;
  background-color: #2a2a37;
  transition: 200ms ease;
  border: #6649b8 1px solid;
}

.column:hover {
  background-color: #6649b8;
}

.containerTab {
  position: relative;
  width: 96%;
  padding: 0 16px;
  color: #ececec;
  display: none;
  overflow: hidden;
  background-color: #1d2634;
  border: #6649b8 1px solid;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.closebtn {
  float: right;
  color: yellow;
  font-size: 35px;
  cursor: pointer;
  top: 0;
}

/* -----------------------------------Navbar styling----------------------------------------------------------------- */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-secondary {
  color: yellow;
}

.fa-primary {
  color: var(--text-tertiary);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.rotate {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: moveRotate 13s linear infinite;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.navbar:hover {
  width: 13rem;
}

.navbar:hover .link-text {
  display: inline;
  transition: opacity var(--transition-speed);
}

/* -----------------------------------Animation styling----------------------------------------------------------------- */
@keyframes moveRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-200%, 100%) rotate(360deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
  75% {
    transform: translate(50%, 75%) rotate(1080deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1440deg);
  }
}

canvas {
  background: linear-gradient(45deg, #6649b8, #141418);
  position: absolute;
  z-index: -1;
}

/* -----------------------------------Form styling----------------------------------------------------------------- */
form {
  max-width: 500px;
  margin-left: 25%;
}

.field {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--text-primary);
  margin: 4rem auto 1rem;
}

.field-add {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--text-primary);
  margin: 1rem auto 1rem;
}

.label {
  color: var(--text-primary);
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.input:valid {
  color: yellowgreen;
}

.input:invalid {
  color: orangered;
}

/* border animation */

.field::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background: yellow;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
}

.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
}

/* label animation */
.label {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 33px;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
}

.button {
  background: var(--text-primary);
  color: var(--bg-primary);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition-speed);
}

.button:hover {
  background: var(--text-secondary);
  color: var(--bg-secondary);
}

.button:active {
  background: var(--text-tertiary);
  color: var(--bg-tertiary);
}

.button-Login {
  margin-top: 2rem;
  background: var(--text-primary);
}

.button-Login:hover {
  background: rgb(0, 255, 255);
  color: var(--bg-primary);
}

select {
  appearance: none;
  background: transparent;
  border: none;
  padding: 1rem 1rem;
  font-family: inherit;
  font-size: inherit;
  color: yellowgreen;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.month {
  position: relative;
  margin: 1rem 1rem;
  color: yellowgreen;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
}

.number {
  position: relative;
  margin: 1rem 1rem;
  color: yellowgreen;
  border-color: yellow;
  background: transparent;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.radio {
  position: relative;
  margin: 1rem 1rem;
}

/*-----------------------------------------------Profile styling------------------------------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header header"
    "main main main";
  height: 100%;
}
.material-icons-outlined {
  margin-top: 0.5rem;
  font-size: 35px;
  color: grey;
}

.header {
  margin-left: 5rem;
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: yellow;
}

.main-container {
  grid-area: main;
  margin-left: 5rem;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgb(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: space-around;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #00bfa5;
}

.card:nth-child(3) {
  background-color: #d50000;
}

.card:nth-child(4) {
  background-color: #ff6d00;
}
.card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*----------------------------------------------------- Small screens--------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
  }
}
