{% extends 'base.html' %} {% block title %}Lista{% endblock %} {% block body%}
{% block content %}
<script src="static/js/grid.js"></script>

<!--<main style="background-color: #2a2a37">
  <div>
    <h1
      style="
        margin-bottom: 2px;
        display: inline-block;
        color: rgb(106, 235, 252);
      "
    >
      {{username}}'s Watched List
    </h1>
    <brown
      ="rewatch,"
      style="
        margin-left: 10px;
        font-size: 15px;
        color: #b3b3b3;
        display: inline-block;
      "
    >
      (Color legend: brown=rewatch, green=2023/seen in the theater)
    </brown>
  </div>
  <div class="row">
    {% for month in months %}
    <div class="column column-friend" onclick="openTab('{{month}}');">
      <h4 class="title">{{month}}</h4>
    </div>
    <div id="{{month}}" class="containerTab">
      <span onclick="this.parentElement.style.display='none';" class="closebtn"
        >&times;</span
      >
      <table>
        <thead>
          <tr>
            <th>Movie</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies%} {% if dict_months[movie['v_date'].month] ==
          month %} {% if movie['rewatch']== 1 %}
          <tr style="color: brown">
            <td>{{movie['movie'].upper()}}</td>

            <td>{{movie['p_year']}}</td>

            <td>{{movie['director'].upper()}}</td>
            <td>{{movie['rating']}}</td>
          </tr>
          {% elif movie['p_year'] == now %}
          <tr style="color: green">
            <td>{{movie['movie'].upper()}}</td>

            <td>{{movie['p_year']}}</td>

            <td>{{movie['director'].upper()}}</td>
            <td>{{movie['rating']}}</td>
          </tr>
          {% else %}
          <tr>
            <td>{{movie['movie'].upper()}}</td>

            <td>{{movie['p_year']}}</td>

            <td>{{movie['director'].upper()}}</td>
            <td>{{movie['rating']}}</td>
          </tr>
          {% endif %} {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>

    {% endfor %}
  </div>
</main>-->
<div class="grid-container1">
  <div class="grid-item item1">
    <h1 style="margin-right: 5%; display: inline-block; color: white">{{username}}'s Watched List</h1>
    <div class="dropdown1">
      <button onclick="myFunction()" class="dropbtn">Filter by</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a href="/directors{{username}}">Director</a>
        <a href="/genres{{username}}">Genre</a>
        <a href="/years{{username}}">Year</a>
        <a href="/ratings{{username}}">Rating</a>
      </div>
    </div>
  </div>

  <div class="grid-item item2">
    <div class="row">
      {% for month in months %}
      <div class="column-friend" onclick="openTab('{{month}}');">
        <h4 class="title">{{month}}</h4>
      </div>
      <div id="{{month}}" class="containerTab">
        <span
          onclick="this.parentElement.style.display='none';"
          class="closebtn"
          >&times;</span
        >
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Movie</th>
              <th>Year</th>
              <th>Director</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            {% for movie in movies%} 
            {% if movie['v_date'].year == year_now %}
            {% if dict_months[movie['v_date'].month] ==
            month %} 
            {% if movie['rewatch']== 1 %}
            <tr style="color: brown">
              <td><img class="table-poster1" src="{{movie['poster']}}"/></td>
              <td><a
                class="table-link"
                href="https://www.google.com/search?q={{movie['movie']}}"
                target="_blank"
                >
                {{movie['movie'].upper()}}</a></td>

              <td>{{movie['p_year']}}</td>

              <td>{{movie['director'].upper()}}</td>
              <td>{{movie['rating']}}</td>
            </tr>
            {% elif movie['p_year'] == now %}
            <tr style="color: green">
              <td><img class="table-poster1" src="{{movie['poster']}}"/></td>
              <td><a
                class="table-link"
                href="https://www.google.com/search?q={{movie['movie']}}"
                target="_blank"
                >{{movie['movie'].upper()}}</a></td>

              <td>{{movie['p_year']}}</td>

              <td>{{movie['director'].upper()}}</td>
              <td>{{movie['rating']}}</td>
            </tr>
            {% else %}
            <tr>
              <td><img class="table-poster1" src="{{movie['poster']}}"/></td>
              <td><a
                class="table-link"
                href="https://www.google.com/search?q={{movie['movie']}}"
                target="_blank"
                >{{movie['movie'].upper()}}</a></td>

              <td>{{movie['p_year']}}</td>

              <td>{{movie['director'].upper()}}</td>
              <td>{{movie['rating']}}</td>
            </tr>
            {% endif %} {% endif %} {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>

      {% endfor %}
    </div>
  </div>

    <div class="grid-item item3">
      <ul class="table-list">
        <li> <a href="/lista">2022</a></li>
        <li> <a href="/lista">2023</a></li>
        <li><a
          href="/add_movie"
          style="
            font-size: 18px;
          "
        >
          Add movie
        </a>
      </li>
      </ul>
    </div>

    <div class="grid-item item4">
      <p style="font-size: 10px; color: #b3b3b3; display: inline-block">
        (Color legend: brown=rewatch, green=2023/seen in the theater)
      </p>
    </div>
  </div>
  
</div>
{% endblock %} {% endblock %}
