{% extends "base.html" %} {% block title %}Home{% endblock %} {%block body
%}{%block content %}
<script
  src="https://kit.fontawesome.com/a735d6df86.js"
  crossorigin="anonymous"
></script>
<!-- JavaScript function for confirmation popup -->
<script>
  function confirmDeletion(movieName) {
    return confirm(`Are you sure you want to remove "${movieName}"?`);
  }
</script>

<div class="list_list">
  <h1 style="display: inline-block; margin-bottom: 0">Watched This Month</h1>

  <!-- Add Movie Button -->
  <a href="/add_movie" class="btn-add-movie">
    <i class="fa-solid fa-plus"></i> ADD MOVIE/SHOW
  </a>

  <table class="table-home" id="table-home">
    <thead>
      <tr style="text-align: left">
        <th style="padding: 10px"></th>
        <th style="padding: 10px">Title</th>
        <th style="padding: 1px"></th>
        <th style="padding: 10px">Year</th>
        <th style="padding: 10px">Director</th>
        <th style="padding: 10px">Rating</th>
        <th style="width: 7%; padding: 10px"></th>
        <th style="width: 5%; padding: 10px"></th>
      </tr>
    </thead>
    <tbody>
      {% if movies == [] %}
      <tr>
        <td colspan="6" style="text-align: center; padding: 10px">
          <h2>No movies watched this month</h2>
        </td>
      </tr>
      {% endif %} {% for movie in movies%}
      <tr style="color: white">
        <td style="padding: 10px">
          <img
            class="table-poster1"
            src="{{movie['poster']}}"
            style="width: 50px"
          />
        </td>

        <td style="padding: 10px">
          <a
            href="https://www.google.com/search?q={{movie['movie']}}"
            target="_blank"
            style="color: inherit"
          >
            {{movie['movie'].upper()}}
          </a>
        </td>

        <td style="padding: 10px">
          {% if movie['cinema'] | int == 1 %}
          <i class="fa-solid fa-film" style="font-size: 16px"></i>
          {% endif %} {% if movie['rewatch'] | int == 1 %}
          <i class="fa-solid fa-repeat" style="font-size: 16px"></i>
          {% endif %}
        </td>

        <td style="padding: 10px">{{movie['p_year']}}</td>
        <td style="padding: 10px">{{movie['director'].upper()}}</td>
        <td style="padding: 10px; text-align: center">{{movie['rating']}}</td>
        <td style="padding: 10px">
          <form action="/edit_movie" method="GET" style="margin: 0">
            <button type="submit" class="table-edit">Edit</button>
            <input type="hidden" name="movie_id" value="{{movie['id']}}" />
            <input type="hidden" name="movie" value="{{movie['movie']}}" />
            <input type="hidden" name="year" value="{{movie['p_year']}}" />
            <input
              type="hidden"
              name="director"
              value="{{movie['director']}}"
            />
            <input type="hidden" name="rating" value="{{movie['rating']}}" />
            <input type="hidden" name="tv" value="{{movie['tv_show']}}" />
          </form>
        </td>
        <td style="padding: 10px">
          <form
            action="/remove_movie"
            method="post"
            style="margin: 0"
            onsubmit="return confirmDeletion('{{ movie['movie'] }}')"
          >
            <button
              type="submit"
              class="table-button"
              style="
                border: none;
                color: white;
                padding: 5px 10px;
                cursor: pointer;
              "
            >
              X
            </button>
            <input type="hidden" name="movie_id" value="{{movie['id']}}" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p style="font-size: 12px; color: white; margin-top: 20px">
    Credits: This product uses the TMDb API but is not endorsed or certified by
    TMDb <br />
    Legend: <i class="fa-solid fa-film"></i> = watched at the cinema,
    <i class="fa-solid fa-repeat"></i> = rewatch
  </p>
</div>

{% endblock %} {% endblock %}
