{% extends "base.html" %} {% block title %}Home{% endblock %} {%block body
%}{%block content %}
<main>
  <form method="post">
    <div class="field">
      <input type="email" name="email" class="input" placeholder="" required />
      <label for="email" class="label">Email</label>
    </div>
    <div class="buttons">
        <button
          type="submit"
          class="button button-Login"
          style="display: inline-block"
        >
          Send reset email
        </button>
  </form>
</main>
{% endblock %}{% endblock %}
```