{% extends 'base.html' %} {% block title %}Lista{% endblock %} {% block body%}
{% block content %}
<script src="static/js/grid.js"></script>

<main class="filterby">
<div class="grid-container2">
  <div class="grid-item2 item1">
    <h1 style="margin-right: 5%; display: inline-block; color: white">By rating</h1>
  </div>

  <div class="grid-item2 item2 filtered">
    <div class="row">
      {% for rating in ratings %}
      <div class="column1" onclick="openTab('{{rating.name}}');">
        <h2 class="title">{{rating.name}}</h2>
      </div>
      <div id="{{rating.name}}" class="containerTab">
        <span
          onclick="this.parentElement.style.display='none';"
          class="closebtn"
          >&times;</span
        >
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Movie</th>
              <th>Year</th>
              <th>Director</th>
              <th style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>
            {% for movie in movies%} 
            {% if movie.rating == rating.name %} 


            {% if movie['rewatch']== 1 %}
            <tr style="color: brown">
              <td><img class="table-poster1" src="{{movie['poster']}}"/></td>
              <td><a
                class="table-link"
                href="https://www.google.com/search?q={{movie['movie']}}"
                target="_blank"
                >
                {{movie['movie'].upper()}}</a></td>

              <td>{{movie['p_year']}}</td>

              <td>{{movie['director'].upper()}}</td>
              <td>
                <form action="/remove_movie" method="post">
                  <button type="submit" class="table-button-list">X</button>
                  <input
                    type="hidden"
                    name="movie_id"
                    value="{{movie['id']}}"
                  />
                </form>
              </td>
            </tr>
            {% elif movie['p_year'] == now %}
            <tr style="color: green">
              <td><img class="table-poster1" src="{{movie['poster']}}"/></td>
              <td><a
                class="table-link"
                href="https://www.google.com/search?q={{movie['movie']}}"
                target="_blank"
                >{{movie['movie'].upper()}}</a></td>

              <td>{{movie['p_year']}}</td>

              <td>{{movie['director'].upper()}}</td>
              <td>
                <form action="/remove_movie" method="post">
                  <button type="submit" class="table-button-list">X</button>
                  <input
                    type="hidden"
                    name="movie_id"
                    value="{{movie['id']}}"
                  />
                </form>
              </td>
            </tr>
            {% else %}
            <tr>
              <td><img class="table-poster1" src="{{movie['poster']}}"/></td>
              <td><a
                class="table-link"
                href="https://www.google.com/search?q={{movie['movie']}}"
                target="_blank"
                >{{movie['movie'].upper()}}</a></td>

              <td>{{movie['p_year']}}</td>

              <td>{{movie['director'].upper()}}</td>
              <td>
                <form action="/remove_movie" method="post">
                  <button type="submit" class="table-button-list">X</button>
                  <input
                    type="hidden"
                    name="movie_id"
                    value="{{movie['id']}}"
                  />
                </form>
              </td>
            </tr>
            {% endif %} {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>

      {% endfor %}
    </div>
  </div>

    <div class="grid-item2 item4">
      <p style="font-size: 10px; color: #b3b3b3; display: inline-block">
        (Color legend: brown=rewatch, green=2023/seen in the theater)
      </p>
    </div>
  </div>
  
</div>
</main>
{% endblock %} {% endblock %}
