{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block
content %}
<main>
  <h1>Register</h1>
  <form method="post">
    <div class="field">
      <input
        type="text"
        name="username"
        class="input"
        placeholder=""
        required
      />
      <label for="username" class="label">Username</label>
    </div>
    <div class="field">
      <input type="email" name="email" class="input" placeholder="" required />
      <label for="email" class="label">Email</label>
    </div>
    <div class="field">
      <input
        type="password"
        name="password"
        class="input"
        placeholder=""
        required
      />
      <label for="password" class="label">Password</label>
    </div>
    <div class="field">
      <input
        type="password"
        name="confirm_password"
        class="input"
        placeholder=""
        required
      />
      <label for="confirm_password" class="label">Confirm Password</label>
    </div>

    <div class="buttons">
      <button
        type="submit"
        class="button button-Login"
        style="display: inline-block"
      >
        Register
      </button>
      <p style="display: inline-block; margin-left: 60px">
        Already have an account?
      </p>
      <a href="/login">Login</a>
    </div>
  </form>
</main>
{% endblock %}
